input{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    border-bottom: 1px black solid;
}

.input-div{
    display: flex;
    flex-direction: row;
    color: white;
}

input{
    color: white;
}

.form{
    height: 100%;
    width: 100%;
}

.button-div{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}

.button{
    width: 40%;
}